<header>
  <img
    src="assets/img/perfil_pic.jpg"
    alt="Robson Lopes de Lima Junior - photo"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Robson Lopes</h1>
</header>

<aside>
  <div class="container">
    <p>Fullstack | Java | Angular</p>
    <p>Paraná - Brasil</p>
    <p>
      Sou analista desenvolvedor com mais de 5 anos de experiência em
      desenvolvimento de software, especializado em back-end com Java (8, 11, 17
      e 19) e Spring Framework, além de ampla vivência em bancos de dados
      relacionais.<br />

      Ao longo da minha carreira, atuei com Angular (JS e 13), desenvolvimento
      Android com Jetpack Compose (Kotlin).
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/robson-lopes-de-lima-j%C3%BAnior-276a07180/"
            target="_blank"
            class="btn btn-primary"
          >
            LinkedIn
          </a>
        </li>

        <li>
          <a
            href="https://github.com/roblopes7"
            target="_blank"
            class="btn btn-secondary"
          >
            Github
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
