<header>
  <img
    src="assets/img/perfil_pic.jpg"
    alt="Robson Lopes de Lima Junior - photo"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Robson Lopes</h1>
</header>

<aside>
  <div class="container">
    <p>Fullstack | Java | Angular</p>
    <p>Paraná - Brasil</p>
    <p>
      Sou desenvolvedor de software, formado pela FATEC, com mais de 5 anos de experiência no desenvolvimento de software, com foco em back-end usando Java.<br>
      Tenho experiência em frameworks como Spring e em tecnologias como Angular e Jetpack Compose,
      e estou constantemente expandindo meu conhecimento em arquitetura de software e boas práticas de desenvolvimento para entregar soluções de qualidade.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/robson-lopes-de-lima-j%C3%BAnior-276a07180/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>

        <li>
          <a
            href="https://github.com/roblopes7"
            target="_blank"
            class="btn btn-primary"
          >
            Github
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
